body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Ember, Helvetica, Arial, "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: linear-gradient(to bottom, black, rgb(31, 34, 34));
  height: 100vh;
  color: white;
}

.section {
  text-align: center;
  margin: 8px auto;
  padding: 10px 0;
  overflow: hidden;
  width: 100%;
}
.section .container {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  gap: 3px;
  align-items: center;
  flex-direction: row;
}
.section .container .listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
}
.section .container .listContainer .songList {
  border: 1px grey solid;
  padding: 5px;
  width: 32vw;
  min-width: 330px;
  max-width: 960px;
}
.section .container .listContainer .songList .list {
  border: 1px green solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 95vh;
}
.section .container .listContainer .songList .list .listRow {
  margin: 2px;
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}
.section .container .listContainer .songList .list .listRow .songRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.section .container .listContainer .songList .list .listRow .songRow .songRow_Index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.section .container .listContainer .songList .list .listRow .songRow .songRow_Content {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section .container .listContainer .songList .list .listRow .songRow .songRow_Content .songRow_Content_Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.section .container .listContainer .songList .list .listRow .songRow .songRow_Button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.section .container .listContainer .songList .list .title {
  background-color: rgba(255, 155, 0, 0.8);
  color: black;
  font-size: 20px;
  font-family: Ember, Helvetica, Arial, "sans-serif";
  font-weight: bold;
  margin: 0;
  padding: 20px;
  height: fit-content;
  overflow: hidden;
}

/*# sourceMappingURL=Home.css.map */
