@use '../../index' as cssIndex;

.section {
  text-align: center;
  margin: 8px auto;
  padding: 10px 0;
  overflow: hidden;
  width: 100%;

  .container {
    position: relative;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    gap: 3px;
    align-items: center;
    flex-direction: row;

    .listContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0;

      .songList {
        border: 1px grey solid;
        padding: 5px;
        width: 32vw;
        min-width: 330px;
        max-width: 960px;

        .list {
          border: 1px green solid;
          display: flex;
          flex-direction: column;
          gap: 10px;
          height: 95vh;

          .listRow {
            margin: 2px;
            display: flex;
            overflow: auto;
            flex-direction: column;
            justify-content: flex-start;
            gap: 15px;

            .songRow {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 0 5px;

              .songRow_Index {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 5px;
              }

              .songRow_Content {
                width: 35%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .songRow_Content_Title {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  text-align: left;
                }
              }

              .songRow_Button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
              }
            }
          }

          .title {
            //color: cssIndex.$clrHighLight;
            background-color: rgba(255,155,0,0.8);
            color: black;
            font-size: 20px;
            font-family: Ember, Helvetica, Arial, 'sans-serif';
            font-weight: bold;
            margin: 0;
            padding: 20px;
            height: fit-content;
            overflow: hidden;
          }
        }
      }
    }
  }
}