$clrText: white;
$clrHighLight: rgb(26, 210, 251);

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Ember, Helvetica, Arial, 'sans-serif';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  background: linear-gradient(to bottom, black, rgb(31, 34, 34));
  height: 100vh;
  color: $clrText;



}
